---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Additional Teaching Experience</h2>

<p>
<strong>AEM 2050 Introduction to Agricultural Finance</strong><br>
Teaching Assistant, Fall 2025
</p>

<p>
<strong>AEM 5570 Corporate Finance</strong><br>
Teaching Assistant, Spring 2025
</p>

<p>
<strong>ECON 1110 Introductory Microeconomics</strong><br>
Course Assistant, Fall 2024
</p>

<p>
<strong>AEM 4400 Retail Strategy</strong><br>
Teaching Assistant, Fall 2023
</p>

<p>
<strong>ECON 3130 Statistics and Probability</strong><br>
Course Assistant, Fall 2023
</p>

<p>
<strong>PAM 4240 Risk Management and Policy</strong><br>
Course Assistant, Fall 2021
</p>
